body
{
	/*width: auto;*/
	width: 90%;
	margin-left: auto;
	margin-right: auto;
}
#Les_chambres 
{
	display:flex;
	/*border:2px solid red;*/
	flex-direction: column-reverse;
	height: auto;
	align-items: center;
	padding: 20px;

}

#Hébergements_à_Marseille
{
	height: auto;
	width: 80%;
	margin-left:3em;



}
#position_img_marseille
{
	display: flex;
	flex-direction: row;
	justify-content: space-around;
}

#premiere_ligne
{
	flex-direction: column;
}
#deuxieme_ligne
{
	flex-direction: column;
}
.img_marseille
{
	width: 50%;
}
#Les_plus_populaires
{
	width: 80%;
	height: 10em;
	margin-bottom: 4em;

	
}
#ensemble_img_populaires
{
	/*border:7px solid black;*/
	display: flex;
	flex-direction: row;
}
.img_populaires
{
	margin-left: 20px;
}
.img_populaires img
{
	flex-wrap: wrap;
}
