body
{
	width: 90%;
	/*background-color: grey;*/
	/*margin-left: auto;
	margin-right: auto;*/
	justify-content: center;
	align-items: center;
}

#Hébergements_à_Marseille
{
	height: auto;
	width: 100%;
	margin-left:3em;
	align-items: center;



}

#position_img_marseille 
{
	display: flex;
	flex-direction: column;
	
	/*border: 7px solid;*/
	width: 85%;
	height: auto;
}
.img_marseille
{

	width: 90%;
	height: auto;
	/*justify-content: space-between;*/
	border: 7px solid;
	margin-bottom: 4px;
}

.img_marseille img
{
	height: 10em;
}

.legende_hebergements
{
	height: 5em;
}


#Les_plus_populaires
{
	width: 100%;
	height: auto;
	margin-bottom: 4em;

	
}

#ensemble_img_populaires
{
	/*border:7px solid black;*/
	display: flex;
	flex-direction: column;
	width:90%;
	align-items: center;
}
.img_populaires
{
	width: 80%;
	margin-right: 40px;
	border: 4px solid;
	margin-left: 3em;
}

#Les_chambres 
{
	width: 100%;
	/*border: 4px solid purple;*/
}


#Activités_à_marseille
{
	display: flex;
	flex-direction: column;
	font-weight: bold;
	width: 100%;
	padding: 20px;
	align-items: center;
	/*border: 7px solid;*/
	height: auto;
	/*justify-content: space-between;*/


}
.img_grand_activités
{
	width: 80%;
}

.colonne_img_petit
{
	width: 80%;
	/*height: 3em;
*/
}

.img_petit_activités
{
	width: 100%;
	/*height: 4em;*/
}

#pied
{
	width: 90%;
	display: flex;
	flex-direction: column;
	justify-content: space-around;
	height: auto;
}