/*body
{
	width: auto;

}
#logo
{
	display: flex;
} 
#logo img
{
	width: auto;
	height: 42px;
}
header
{
	display: flex;
	justify-content: space-between;
	/*align-items: flex-end;*/
}
nav ul
{
	list-style-type: none;
	display: flex;
	justify-content:space-between;

}

nav li
{
	margin-left: 24px;
	font-weight: bold;

}

nav a
{
	/*font-size: 1.3em*/
	color: blue;
	/*padding-bottom: 3px;*/
	text-decoration: none;
}

nav a:hover
{
	color:black;
	border-top: 3px solid blue;
	padding-top: 12px;
	
}

#position
{
	border:1px solid #E2DEDD;
	border-top-left-radius: 50px 50px;
	border-bottom-left-radius: 50px 50px;
	width: 24px;
	/*height: 32px;*/
	background-color: #F2F2F2;
	/*border-right-width:0;*/
	display: flex;
	align-items: center;
	justify-content: center;
	





}
#position i
{
	/*padding-left: 10px;*/
  
 }
#lieux
{
	border:1px solid #E2DEDD;
	width: 12em;
	/*height: 25px;*/
	/*font-size: 0.8em;*/
	padding-top: 6.7px;
	padding-left: 1em;
	border-right-width:0;
	border-left-width:0;

}
#recherche
{
	border:1px solid #E2DEDD;
	border-top-right-radius: 80px 80px;
	border-bottom-right-radius: 80px 80px;
	width: 7em;
	/*height: 25px;*/
	color: white;
	background-color: #0065FC;
	text-align: center;
	/*border-left-width: 0;*/
	/*font-size: 0.8em;*/
	padding-top:5px;

}

#barre_de_recherche
{
	display: flex;
	/*padding-bottom: 2em;*/
	font-weight: bold;
	height: 35px;
	margin-bottom: 15px;

}

/*




*/

.logo
{

	border:1px solid #DEEBFF;
	border-radius: 50%;
	width: 30px;
	height: 30px;
	background-color: #DEEBFF;
	color:  #0065FC;
    display: flex;
	align-items: center;
	justify-content: center;
	
}
.text_filtre
{
	/*border:1px solid black;
	border-top-right-radius: 80px 80px;
	border-bottom-right-radius: 80px 80px;*/
	width: 10em;
	height: 15px;
	text-align: center;
	display: flex;
	align-items: center;
	margin-left: 14px;
}

#filtres
{
	display: flex;
	/*justify-content: space-between;*/
	font-weight: bold;
	/*border: 2px solid ;*/
}
.bouton_filtre
{
	border:3px solid #F2F2F2;
	display: flex;
	border-radius:80px 80px;
	/*border-top-right-radius: 80px ;
	border-bottom-right-radius:80px;*/
	border-left-width:0;
	margin-left: 2em;

	align-items: center;
	justify-content: center;
}
#Le_filtre
{
	display: flex;
	align-items: center;
	justify-content: center;
}

#bouton_filtre_animaux
{
	border:3px solid #F2F2F2;
	display: flex;
	border-radius:80px 80px;
	border-left-width:0;
	margin-left: 2em;
	align-items: center;
	justify-content: center;



}
/*





*/
#logo_i 
{
	border:1px solid #F2F2F2;
	border-radius: 50%;
	width: 30px;
	height: 30px;
	/*background-color: #DEEBFF;*/
	color:  #0065FC;
 display: flex;
	align-items: center;
	justify-content: center;
	margin-right: 1.5em;
	/*display: flex;*/
}

#annonce
{
	display: flex;
	/*padding-top: 1.7em;*/
	margin:1em 1em;
	align-items: center;
	/*justify-content: center;*/

}
/*





*/
#Hébergements_à_Marseille
{
	display: flex;
	flex-direction: column;
	border: 2px solid #F2F2F2;
	border-radius: 10px;
	padding:20px;
	background-color: #F2F2F2;
	/*justify-content:space-between;*/
	/*font-weight: bold;*/
	height: 30em;
	width: 52em;
	margin-right: 5em;



}

.img_marseille img
{
	border: 2px solid white;
	width: 14em;
	height: 10em;
	border-radius: 10px 10px;
	box-shadow: 0.5px 0.5px 20px #CBCECF;
}
#position_img_marseille
{
	display: flex;
	justify-content:space-between;
	flex-direction: column;
	

}
.legende_hebergements
{
	border: 2px solid white;
	width: 14em;
	height: 4em;
	position: absolute;
	bottom: 0;
	background-color: white;
	border-bottom-left-radius: 10px;
	border-bottom-right-radius: 10px;
	box-shadow: 0.5px 0.5px 20px #CBCECF;


}
.etoile
{
	display: flex;
	color: #0065FC;
	margin-top: 4px;
}
#premiere_ligne
{
	display: flex;
	margin-top: 2em;
	margin-bottom: 2em;
	justify-content:space-between;
	position: relative;

	
}


#deuxieme_ligne
{
	display: flex;
	justify-content:space-between;
	margin-bottom: 2em;
	position: relative;
}


#Les_plus_populaires
{
	border: 2px solid #F2F2F2;
	background-color: #F2F2F2;
	width: 18em;
	height: 30em;
	border-radius: 10px;
	/*font-weight: bold;*/
	flex-direction: column;
	padding: 20px;
	position: relative;
	

}
.legende_populaires
{
	border: 2px solid white;
	width: 9em;
	height: 5.8em;
	position: absolute;
	top: 0px;
	right:1.6em;
	background-color: white;
	border-top-right-radius: 10px;
	border-bottom-right-radius: 10px;
	padding: 1.5px;
	box-shadow: 0.5px 0.5px 20px #CBCECF;

}
.renseignement
{
	position: relative;
}
#le_debut
{
	display: flex;
	justify-content: space-between;
	margin-bottom: 2em;
}

.img_populaires img
{
	border: 2px solid white;
	width: 7em;
	height: 6em;
	border-radius: 10px 0px 0px 10px;
	justify-content: space-between;
	margin-bottom: 2em;
	box-shadow: 0.5px 0.5px 20px #CBCECF;

}
#Les_chambres 
{
	display:flex;
	flex-direction: column;

}

/*





*/
#Activités_à_marseille
{
	display: flex;
	font-weight: bold;
	/*border: 2px solid ;*/
	width: 83em;
	/*justify-content: space-between;*/
	/*padding: 20px;*/
	position: relative;


}
.img_grand_activités img
{
	border: 2px solid white;
	width: 14.5em;
	height: 19em;
	box-shadow: 0.5px 0.5px 20px grey/*#CBCECF*/;
	border-radius: 10px 10px;
	margin-right: 4em;
}
.img_petit_activités img
{
	border: 2px solid white;
	width: 14.5em;
	height: 8.5em;
	box-shadow: 0.5px 0.5px 20px grey/*#CBCECF*/;
	border-radius: 10px 10px;
	margin-right: 4em;
	

}
.colonne_img_petit
{
	display: flex;
	flex-direction: column;
	justify-content: space-between;
	

}
.legende_activites
{
	border: 2px solid white;
	width: 14.5em;
	height: 2em;
	position: absolute;
	bottom: 0;
	background-color: white;
	border-bottom-left-radius: 10px;
	border-bottom-right-radius: 10px;
	text-align:center;

}
#block_activites
{
	flex-direction: column;
	/*border: 2px solid black;*/
	margin-top: 4em;
	width: 85em;
	padding: 20px
}
#pied
{
	display: flex;
	justify-content: space-between;
	border: 2px solid #F2F2F2;
	padding: 4em;
	background-color: #F2F2F2; 
	height: 6em;
	width: 80em;
}
#a_propos div 
{
	margin-bottom: 6px;
}
#nos_hebergements div 
{
	margin-bottom: 6px;
}
#assistance div 
{
	margin-bottom: 6px;
}*/