body
{
	width: 80%;
	/*background-color: grey;*/
	margin-left: auto;
	margin-right: auto;
	justify-content: center;
	align-items: center;
}

#Hébergements_à_Marseille
{
	height: auto;
	width: 100%;
	margin-left:3em;
	align-items: center;



}

#position_img_marseille 
{
	display: flex;
	flex-direction: column;
	
	/*border: 7px solid;*/
	width: 95%;
	height: auto;
}
#premiere_ligne
{
	/*border: 5px solid;*/
	width: 90%;
}
#deuxieme_ligne
{
	/*border: 5px solid;*/
	width: 90%;
}
.img_marseille
{

	width: 100%;
	/*height: auto;*/
	/*justify-content: space-between;*/
	/*border: 7px solid;*/
	margin-bottom: 2em;
}

.img_marseille img
{
	height: 8em;
}

.legende_hebergements
{
	/*height: 5em;*/
}


#Les_plus_populaires
{
	width: 100%;
	height: auto;
	margin-bottom: 4em;

	
}

#ensemble_img_populaires
{
	/*border:7px solid black;*/
	display: flex;
	flex-direction: column;
	width:90%;
	align-items: center;
}
.img_populaires
{
	width: 95%;
	margin-right: 40px;
	/*border: 4px solid;*/
	margin-left: 3em;
	height: 8em;
}

#Les_chambres 
{
	width: 100%;
	/*border: 4px solid purple;*/
}
#block_activites
{
	margin-bottom: 4em;
	/*height: 25em;*/
	/*border: 7px solid;*/
	width: 100%;
}

#Activités_à_marseille
{
	display: flex;
	flex-direction: column;
	/*width: 90%;*/
	padding: 20px;
	align-items: center;
	/*border: 7px solid;*/
	


}
.img_grand_activités
{
	width: 95%;
	margin-bottom: 2em;
}

.img_grand_activités img
{
	/*border: 2px solid white;*/
	/*width: 100%;*/
	height: 10em;
	/*border-radius: 10px 10px 0px 0px;*/
}

.colonne_img_petit
{
	width: 95%;
	/*height: 3em;
*/
}

.img_petit_activités
{
	width: 100%;
	margin-bottom: 2em;
	/*height: 4em;*/
}
.img_petit_activités img
{
	/*border: 2px solid white;*/
	/*width: 100%;*/
	height: 10em;
	/*border-radius: 10px 10px 0px 0px;*/
}

#pied
{
	width: 80%;
	display: flex;
	flex-direction: column;
	/*justify-content: space-around;*/
	align-items: flex-start;
	height: auto;
	/*border: 7px solid;*/
}