
#block_page
{
	width: 98%;
	padding: 2PX;
	align-items: center;
	justify-content: center;
}







#barre_de_recherche
{
	justify-content: center;
}
#barre_de_recherche input
{
	width: 60%;
}




.illustration_populaires{
	height: 9em;
}

#Hebergements_à_Marseille
{
	height: auto;
	width: 86%;
	background-color: white;
	/*border:white;*/
	margin: 0; 
}

#position_illustrations_hebergements
{
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	width: 100%;
	height: auto;
}
.ligne_hebergements
{
	width: 100%;
}

.illustration_hebergements
{
	width: 100%;
	margin-bottom: 2em;
}

.illustration_hebergements img
{
	height: 8em;
    
}


.grand_illustration_activites img
{
	
	height: 10em;
	
}

.petit_illustration_activites img
{
	
	height: 10em;
}


footer #a_propos 
{
	margin-left: 4em;
	
}
footer #nos_hebergements
{
	margin-left: 4em;
}
footer #assistance 
{
	margin-left: 4em;
}