body{
	padding-top: 20px ;
}
#block_page
{
	width: 98%;
	padding: 2PX;
	align-items: center;
	justify-content: center;
}



h1{
	font-size: 21.3px;
	margin:  12px 0 12px 18px ;
	width: 80%;
	font-weight:900px;
}

h1 + p {
	margin:  20px 0 20px 18px;
	width: 82%;
	font-size: 16px;
}



#barre_de_recherche
{
	justify-content: center;
}
#barre_de_recherche input
{
	width: 60%;
}

#ensembles_filtres{
	margin-left: 15px;
	flex-direction: column;
}



.illustration_populaires{
	height: 9em;
}
#le_debut h2{
	padding-left: 10px;
}
#le_debut h2 + div{
	padding-right: 10px;
}

#Hebergements_à_Marseille
{
	height: auto;
	width: 86%;
	background-color: white;
	/*border:white;*/
	margin: 0; 
}

#position_illustrations_hebergements
{
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	width: 100%;
	height: auto;
}
.ligne_hebergements
{
	width: 100%;
}

.illustration_hebergements
{
	width: 100%;
	margin-bottom: 2em;
}

.illustration_hebergements img
{
	height: 8em;
    
}


.grand_illustration_activites img
{
	
	height: 10em;
	
}
.medium_illustration_activites img
{
	
	height: 10em;
}
.petit_illustration_activites img
{
	
	height: 10em;
}


footer #a_propos 
{
	margin-left: 4em;
	
}
footer #nos_hebergements
{
	margin-left: 4em;
}
footer #assistance 
{
	margin-left: 4em;
}