 
@font-face {
    font-family: 'Raleway';
    src: url('font/Raleway-VariableFont_wght.ttf');
}

body
{
	
	width: 100%;
	/*margin-left: auto;
	margin-right: auto;*/
	font-family: Raleway;
	font-size: 16px;
	margin-top: 0;
	/*border: 3px solid;*/
	width: fit-content;
}
#block_page
{
	width: 90%;
	margin: 1px auto 1px auto;
	
	/*margin-right: auto;*/
	/*margin:4%;*/
	/*margin-top: 20px;*/
}
h3
{
	margin: 0;
}
h2
{
	margin: 0 0 20px 0;
}


header
{
	display:grid;
	/*width: 100%;*/
	/*grid-template-columns: 63% 15% 11% 11%;*/
	grid-template-columns: 63% auto auto auto;

	/*width: 100%;*/
}
header div
{
	/*border: solid 2px red;*/
	
	display: flex;
	padding-top: 10px;
	align-items: flex-end;


}

#logo_reservia
{
	/*border: #0065FC 1px solid;*/
	padding-left: 25px;
	
}

header #logo_reservia img
{
	width: auto;
	height: 44px;
	
}
header a
{
	text-decoration: none;

}


header #hebergements
{
	color: #0065FC;
	border-top: 3px #0065FC solid;
	justify-content: center;
	
	
}
header #hebergements a
{
	color: #0065FC;
}

header #activites
{

	justify-content: center;

}

header #activites a
{
	color: #000;;
}


	

header #inscrire
{
	color: #0065FC;
	justify-content: center;
	
}
header #inscrire a
{
	color: #0065FC;
}





#barre_de_recherche
{
	display: flex;
	/*padding-bottom: 2em;*/
	font-weight: bold;
	height: 45px;
	margin-bottom: 15px;

}

#barre_de_recherche #position
{
	border:1px solid #E2DEDD;
	border-top-left-radius: 15px;
	border-bottom-left-radius: 15px;
	width: 45px;
	/*height: 40px;*/
	background-color: #F2F2F2;
	/*border-right-width:0;*/
	display: flex;
	align-items: center;
	justify-content: center;
	
}

#barre_de_recherche #lieux
{
	border:1px solid #E2DEDD;
	width: 13em;
	/*height: 35px;*/
	/*font-size: 0.8em;*/
	padding-top: 12px;
	padding-left: 1em;
	border-right-width:0;
	border-left-width:0;
	/*text-align: center;*/
	justify-content: center;
}

 #barre_de_recherche #search
{
	border:1px solid #E2DEDD;
	/*border-top-right-radius: 35% ;
	border-bottom-right-radius: 35% ;*/
	border-top-right-radius: 15px 15px;
	border-bottom-right-radius: 15px 15px;
	width: 8em;
	/*height: 35px;*/
	color: white;
	background-color: #0065FC;
	text-align: center;
	/*border-left-width: 0;*/
	/*font-size: 0.8em;*/
	padding-top:12px;
	/*text-align: center;
	justify-content: center;*/
}
#barre_de_recherche #logo_search
{
	display: none;

}


/*




*/

#ensembles_filtres
{
	display: flex;
	/*justify-content: space-between;*/
	font-weight: bold;
	flex-wrap: wrap;
	
	/*border: 2px solid ;*/
}

#ensembles_filtres #Le_filtre
{
	display: flex;
	align-items: center;
	justify-content: center;
	margin: 0 25px 20px 0;;
	
}

.bouton_filtre
{
	border:4px solid #F2F2F2;
	display: flex;
	border-radius:80px 80px;
	/*border-top-right-radius: 80px ;
	border-bottom-right-radius:80px;*/
	border-left-width:0;
	/*margin-left: 3em;*/
	margin: 0 25px 20px 0;
	height: 38px;
	align-items: center;
	justify-content: center;
}

 .bouton_filtre .logo
{

	border:2px solid #F2F2F2;
	border-radius: 50%;
	width: 38PX;
	height: 38px;
	background-color: #DEEBFF;
	color:  #0065FC;
 	display: flex;
	align-items: center;
	justify-content: center;
	
}
.bouton_filtre .text_filtre
{
	/*border:1px solid black;
	border-top-right-radius: 80px 80px;
	border-bottom-right-radius: 80px 80px;*/
	/*width: 6em;*/
	/*height: 15px;*/
	text-align: center;
	display: flex;
	align-items: center;
	margin: 0  14px;
}



/*





*/
#annonce
{
	display: flex;
	/*padding-top: 1.7em;*/
	margin:1em 1em;
	align-items: center;
	/*justify-content: center;*/

}
#annonce #logo_i 
{
	border:1px solid #F2F2F2;
	border-radius: 50%;
	width: 2%;
	height: 30px;
	/*background-color: #DEEBFF;*/
	color:  #0065FC;
 	display: flex;
	align-items: center;
	justify-content: center;
	margin-right: 1.5em;
	/*display: flex;*/
}


/*





*/
#Les_chambres 
{
	display:flex;
	/*border:2px solid red;*/
	height: 38em;
	/*height: auto;*/
	margin-bottom: 1em;

}

#Hebergements_à_Marseille
{
	display: flex;
	flex-direction: column;
	border: 2px solid#F2F2F2;
	border-radius: 10px;
	padding:20px 20px 20px 20px;
	background-color: #F2F2F2;
	/*justify-content:space-between;*/
	/*font-weight: bold;*/
	height: 34em;
	/*height: auto;*/
	width: 65%;
	margin-right: 3em;
	/*margin-bottom: 1em;*/

}

#position_illustrations_hebergements
{
	display: flex;
	/*justify-content:space-between;*/
	flex-direction: column;
	/*border: #0065FC 2px solid;*/
}

.ligne_hebergements
{
	display: flex;
	/*margin-top: 1em;*/
	/*margin-bottom: 2em;*/
	justify-content:space-between;
/*	position: relative;*/
	/*border: solid 1px red;*/
	align-items: center;

	
}

/*#deuxieme_ligne img
{
	width: 74%;
	height: 10em;
}*/


.illustration_hebergements
{
	display: flex;
	flex-direction: column;
	width: 30%;
	margin: 15px 0 15px 0;
	/*box-shadow: 0.5px 0.5px 20px #CBCECF;*/
	/*margin-left: 2em;*/
	
	/*border: 4px solid;*/
	


}

.illustration_hebergements img
{
	border: 4px solid white;
	/*width: 100%;*/
	height: 7em;
	border-radius: 20px 20px 0px 0px;
	box-shadow: 0.5px 0.5px 20px #CBCECF;
	object-fit: cover;
	
}

.legende_hebergements
{
	border: 4px solid white;
	/*width: 100%;*/
	height: 5em;
	background-color: white;
	border-bottom-left-radius: 20px;
	border-bottom-right-radius: 20px;
	/*justify-content: space-between;*/
	padding-left: 18px;
	box-shadow: 0.5px 0.5px 20px #CBCECF;


}
.etoile 
{
	display: flex;
	align-items: flex-end;
}
.etoile .fas.fa-star.blue
{
	/*display: flex;*/
	color: #0065FC;
	/*align-items: flex-end;*/
	/*margin-top: 4px;*/
}
.etoile .fas.fa-star.grey
{
	color: #CBCECF;
	/*background-color: #CBCECF;*/
	
	/*align-items: flex-end;*/
}

/*#premiere_ligne img
{
	width: 74%;
	height: 10em;
}*/






#Les_plus_populaires
{
	display: flex;
	border: 2px solid #F2F2F2;
	background-color: #F2F2F2;
	width: 25%;
	height: 34em;
	border-radius: 10px;
	/*font-weight: bold;*/
	flex-direction: column;
	padding: 20px;
	/*justify-content: space-between;*/
	
}

#le_debut
{
	display: flex;
	justify-content: space-between;
	margin-bottom: 1em;
}

.illustration_populaires
{
	display: flex;
	height: 8em;
	width: 100%;
	box-shadow: 0.5px 0.5px 20px #CBCECF;
	margin-bottom: 2em;
	border-radius: 20px 20px 20px 20px;
	/*border: 3px solid red;*/
	
	
	


}
.illustration_populaires img
{
	border: 4px solid white;
	border-radius: 10px 0px 0px 10px;
	width: 35%;
	object-fit: cover;

}

.legende_populaires
{
	display: flex;
	flex-direction: column;
	border: 4px solid white;
	width: 65%;
	background-color: white;
	border-top-right-radius: 10px;
	border-bottom-right-radius: 10px;
	justify-content: space-between;
	padding-left: 18px;
	

}


/*





*/
#block_activites
{
	flex-direction: column;
	/*border: 2px solid red;*/
	width: 98% ;
	padding: 20px;
	margin-bottom: 4em;
	
}

#Activites_à_marseille
{
	display: flex;
	font-weight: bold;
	width: 98%;
	padding: 20px;
	/*border: 7px solid;*/
	
}

.grand_illustration_activites
{
	display: flex;
	flex-direction: column;
	/*border: 3px solid red;*/
	width: 25%;
	/*box-shadow: 0.5px 0.5px 20px grey;*/
	/*margin-left: 2em;*/
	margin-right: 2em;
	
	/*border-radius: 10px 10px 10px 10px;*/


/*	width: 75%;*/

}

.grand_illustration_activites img
{
	/*border: 2px solid white;*/
	width: 100%;
	height: 27em;
	border-radius: 10px 10px 0px 0px;
	box-shadow: 0 0 25px #0000002e;
	object-fit: cover;
	
}

.colonne_petit_illustration
{
	display: flex;
	flex-direction: column;
	justify-content: space-between;
	margin-right: 2em;
	width:25%;
	
}

.petit_illustration_activites
{
	display: flex;
	flex-direction: column;
	/*border: 3px solid ;*/
	width: 100%;
	/*box-shadow: 0.5px 0.5px 20px grey;*/
	

/*	width: 75%;*/
}

.petit_illustration_activites img
{
	/*border: 2px solid white;*/
	/*width: 100%;*/
	height: 10em;
	box-shadow: 0 0 25px #0000002e;
	border-radius: 10px 10px 0px 0px;
	object-fit: cover;
	
}


.legende_activites
{
	/*border: 2px solid;*/
	box-shadow: 0 0 25px #0000002e;
	/*width: 100%;*/
	height: 2.5em;
	border-bottom-left-radius: 10px;
	border-bottom-right-radius: 10px;
 	padding-left: 15px;
	padding-top: 18px;
	background-color: white;

}

footer
{
	display: flex;
	/*justify-content: space-between;*/
	border: 2px solid #F2F2F2;
	padding: 20px 20px 20px 4em;
	background-color: #F2F2F2; 
	height: 8em;
	width: auto;
}
footer .titre_footer
{
	font-size: 19px;
	font-weight: bold;
}
footer #a_propos
{
	margin-right: 10em;
}
footer #a_propos div 
{
	margin-bottom: 8px;
}
footer #nos_hebergements
{
	margin-right: 10em;
}
footer #nos_hebergements div 
{
	margin-bottom: 8px;
}
footer #assistance div 
{
	margin-bottom: 10px;
}
