 
@font-face {
    font-family: 'Raleway';
    src: url('font/Raleway-ExtraBold.ttf');
}

 body
{
	 font-family: Raleway;
	font-size: 0.9em;
	width:90%;
	margin-left: auto;
	margin-right: auto;

}
/*#block_page
{
	width:100em;
	margin-left: auto;
	margin-right: auto;
}*/

#logo
{
	display: flex;
} 
#logo img
{
	width: auto;
	height: 42px;
}
header
{
	display: flex;
	justify-content: space-between;
	/*align-items: flex-end;*/
}
nav ul
{
	list-style-type: none;
	display: flex;
	justify-content:space-between;
	/*flex-wrap: wrap;*/

}

nav li
{
	margin-left: 24px;
	font-weight: bold;

}

nav #hebergements a
{
	/*font-size: 1.3em*/
	color: blue;
	/*padding-bottom: 3px;*/
	text-decoration: none;
}
nav #inscrire a
{
	color: blue;
	text-decoration: none;
}
nav #activites a
{
	color:black;
	text-decoration: none;
}

nav a:hover
{
	/*color:black;*/
	border-top: 3px solid blue;
	padding-top: 12px;
	
}

#barre_de_recherche
{
	display: flex;
	/*padding-bottom: 2em;*/
	font-weight: bold;
	height: 45px;
	margin-bottom: 15px;

}

#barre_de_recherche #position
{
	border:1px solid #E2DEDD;
	border-top-left-radius: 35%;
	border-bottom-left-radius: 35%;
	width: 45px;
	/*height: 40px;*/
	background-color: #F2F2F2;
	/*border-right-width:0;*/
	display: flex;
	align-items: center;
	justify-content: center;
	
}

#barre_de_recherche #lieux
{
	border:1px solid #E2DEDD;
	width: 12em;
	/*height: 35px;*/
	/*font-size: 0.8em;*/
	padding-top: 6.7px;
	padding-left: 1em;
	border-right-width:0;
	border-left-width:0;
	text-align: center;
	justify-content: center;
}

 #barre_de_recherche #recherche
{
	border:1px solid #E2DEDD;
	/*border-top-right-radius: 35% ;
	border-bottom-right-radius: 35% ;*/
	border-top-right-radius: 15PX 15PX;
	border-bottom-right-radius: 15PX 15PX;
	width: 7em;
	/*height: 35px;*/
	color: white;
	background-color: #0065FC;
	text-align: center;
	/*border-left-width: 0;*/
	/*font-size: 0.8em;*/
	padding-top:5px;
	/*text-align: center;
	justify-content: center;*/
}



/*




*/

#filtres
{
	display: flex;
	/*justify-content: space-between;*/
	font-weight: bold;
	flex-wrap: wrap;
	/*border: 2px solid ;*/
}

#filtres #Le_filtre
{
	display: flex;
	align-items: center;
	justify-content: center;
}

.bouton_filtre
{
	border:3px solid #F2F2F2;
	display: flex;
	border-radius:80px 80px;
	/*border-top-right-radius: 80px ;
	border-bottom-right-radius:80px;*/
	border-left-width:0;
	margin-left: 2em;
	height: 30px;

	align-items: center;
	justify-content: center;
}

 .bouton_filtre .logo
{

	border:1px solid #DEEBFF;
	border-radius: 50%;
	width: 30PX;
	height: 30px;
	background-color: #DEEBFF;
	color:  #0065FC;
 display: flex;
	align-items: center;
	justify-content: center;
	
}
.bouton_filtre .text_filtre
{
	/*border:1px solid black;
	border-top-right-radius: 80px 80px;
	border-bottom-right-radius: 80px 80px;*/
	/*width: 6em;*/
	/*height: 15px;*/
	text-align: center;
	display: flex;
	align-items: center;
	margin: 0  14px;
}





/*





*/
#annonce
{
	display: flex;
	/*padding-top: 1.7em;*/
	margin:1em 1em;
	align-items: center;
	/*justify-content: center;*/

}
#annonce #logo_i 
{
	border:1px solid #F2F2F2;
	border-radius: 50%;
	width: 2%;
	height: 30px;
	/*background-color: #DEEBFF;*/
	color:  #0065FC;
 display: flex;
	align-items: center;
	justify-content: center;
	margin-right: 1.5em;
	/*display: flex;*/
}


/*





*/
#Les_chambres 
{
	display:flex;
	/*border:2px solid red;*/
	height: 36em;
	/*height: auto;*/
	margin-bottom: 1em;

}

#Hébergements_à_Marseille
{
	display: flex;
	flex-direction: column;
	border: 2px solid #F2F2F2;
	border-radius: 10px;
	padding:20px;
	background-color: #F2F2F2;
	/*justify-content:space-between;*/
	/*font-weight: bold;*/
	height: 32em;
	/*height: auto;*/
	width: 65%;
	margin-right: 3em;
	/*margin-bottom: 1em;*/

}

#position_img_marseille
{
	display: flex;
	/*justify-content:space-between;*/
	flex-direction: column;
	/*border: #0065FC 2px solid;*/
}

#premiere_ligne
{
	display: flex;
	margin-top: 1em;
	margin-bottom: 2em;
	justify-content:space-between;
/*	position: relative;*/
	
}
#deuxieme_ligne
{
	display: flex;
	justify-content:space-between;
	margin-bottom: 2em;
	/*position: relative;*/
}
/*#deuxieme_ligne img
{
	width: 74%;
	height: 10em;
}*/


.img_marseille
{
	display: flex;
	flex-direction: column;
	width: 30%;
	/*box-shadow: 0.5px 0.5px 20px #CBCECF;*/
	/*margin-left: 2em;*/
	
	/*border: 4px solid;*/
	


}

.img_marseille img
{
	border: 4px solid white;
	/*width: 100%;*/
	height: 7em;
	border-radius: 20px 20px 0px 0px;
	box-shadow: 0.5px 0.5px 20px #CBCECF;
	object-fit: cover;
	
}

.legende_hebergements
{
	border: 4px solid white;
	/*width: 100%;*/
	height: 5em;
	background-color: white;
	border-bottom-left-radius: 20px;
	border-bottom-right-radius: 20px;
	justify-content: space-between;
	padding-left: 18px;
	box-shadow: 0.5px 0.5px 20px #CBCECF;


}
.etoile
{
	display: flex;
	color: #0065FC;
	/*margin-top: 4px;*/
}

/*#premiere_ligne img
{
	width: 74%;
	height: 10em;
}*/






#Les_plus_populaires
{
	display: flex;
	border: 2px solid #F2F2F2;
	background-color: #F2F2F2;
	width: 25%;
	height: 32em;
	border-radius: 10px;
	/*font-weight: bold;*/
	flex-direction: column;
	padding: 20px;
	/*justify-content: space-between;*/
	
}

#le_debut
{
	display: flex;
	justify-content: space-between;
	margin-bottom: 1em;
}

.img_populaires
{
	display: flex;
	height: 7.6em;
	width: 100%;
	box-shadow: 0.5px 0.5px 20px #CBCECF;
	margin-bottom: 2em;
	border-radius: 20px 20px 20px 20px;
	/*border: 3px solid red;*/
	
	
	


}
.img_populaires img
{
	border: 4px solid white;
	border-radius: 10px 0px 0px 10px;
	width: 35%;
	object-fit: cover;

}

.legende_populaires
{
	border: 4px solid white;
	width: 65%;
	background-color: white;
	border-top-right-radius: 10px;
	border-bottom-right-radius: 10px;
	justify-content: space-between;
	padding-left: 18px;
	

}


/*





*/
#block_activites
{
	flex-direction: column;
	/*border: 2px solid red;*/
	width: 100% ;
	/*padding: 20px;*/
}

#Activites_à_marseille
{
	display: flex;
	font-weight: bold;
	width: 100%;
	/*padding: 20px;*/
	/*border: 7px solid;*/


}

.img_grand_activites
{
	display: flex;
	flex-direction: column;
	/*border: 3px solid red;*/
	width: 22%;
	/*box-shadow: 0.5px 0.5px 20px grey;*/
	/*margin-left: 2em;*/
	margin-right: 2em;
	
	/*border-radius: 10px 10px 10px 10px;*/


/*	width: 75%;*/

}

.img_grand_activites img
{
	/*border: 2px solid white;*/
	width: 100%;
	height: 27em;
	border-radius: 10px 10px 0px 0px;
	box-shadow: 0.5px 0.5px 20px grey;
	object-fit: cover;
	
}

.colonne_img_petit
{
	display: flex;
	flex-direction: column;
	justify-content: space-between;
	margin-right: 2em;
	width:22%;
	
}

.img_petit_activites
{
	display: flex;
	flex-direction: column;
	/*border: 3px solid ;*/
	width: 100%;
	/*box-shadow: 0.5px 0.5px 20px grey;*/
	

/*	width: 75%;*/
}

.img_petit_activites img
{
	/*border: 2px solid white;*/
	/*width: 100%;*/
	height: 10em;
	box-shadow: 0.5px 0.5px 20px grey;
	border-radius: 10px 10px 0px 0px;
	object-fit: cover;
	
}


.legende_activites
{
	/*border: 2px solid;*/
	box-shadow: 0.5px 0.5px 20px grey;
	/*width: 100%;*/
	height: 3.5em;
	border-bottom-left-radius: 10px;
	border-bottom-right-radius: 10px;
 	padding-left: 18px;
	background-color: white;
	
	 


}

#pied
{
	display: flex;
	justify-content: space-between;
	border: 2px solid #F2F2F2;
	padding: 4em;
	background-color: #F2F2F2; 
	height: 6em;
	width: 90%;
}
#pied #a_propos div 
{
	margin-bottom: 6px;
}
#pied #nos_hebergements div 
{
	margin-bottom: 6px;
}
#pied #assistance div 
{
	margin-bottom: 6px;
}
